body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  color: #CED9D8;
  background-color: #222222;
  margin: auto;
  width: 75%;
  padding: 10px;
}
h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  font-style: italic;
  color: #ADD8E6;
}

img {
  width: 250px;
  height: 250px;

}
